@charset "UTF-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
/* end reset */

@page {
  margin: 5px !important;
}

/* p margin */
p {
  margin: 8px 0 0;
}

/* inlines; code and monospace in the code section below */
span.bolditalic {
  font-weight: bold;
  font-style: italic;
}

strong, span.bold {
  font-weight: bold;
  font-family: serif;
}

a.ulink, a.xref, a.email {
  text-decoration: none;
  color: #8e0012;
}

sup {  /* bug in webkit? */
  font-size: x-small;
  vertical-align: super;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

/* headings */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Free Sans Bold", sans-serif;
  margin-top: 20px !important;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Free Sans Bold", sans-serif;
  color: #8e0012;
  margin: 15px 0 8px 0 !important;
  text-decoration:underline;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Free Sans Bold", sans-serif;
  margin: 10px 0 8px 0 !important;
}

h4 {
  font-size: bold;
  font-weight: 1em;
  font-family: "Free Sans Bold", sans-serif;
  color: #555;
  margin: 9px 0 !important;
}

/* Appropriate heading hyphenation suppression for different ereaders */
h1, h2, h3, h4 {
  -webkit-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
}

/* images  */
img {
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
}

/* code */
pre {
  white-space: pre-wrap;
  font-family: "Ubuntu Mono", monospace;
  margin: 10px 0 10px 20px;
  font-size: 85%;
  display: block;
  -webkit-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

code strong em, code em strong, pre em strong, pre strong em,
strong code em code, em code strong code, span.bolditalic code { /* yes, all of these variations are needed */
  font-weight: bold;
  font-style: italic;
  font-family: "Ubuntu Mono BoldItal", monospace;
}

code em, em code, pre em, em.replaceable {
  font-family: "Ubuntu Mono Ital", monospace;
  font-style: italic;
}

code strong, strong code, pre strong, strong.userinput {
  font-family: "Ubuntu Mono Bold", monospace;
  font-weight: bold;
}

/* title and copyright page */
div.book div.titlepage h1.title {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 10px !important;
  line-height: 1;
}

div.book div.titlepage div.author h3 {
  font-size: 1.6em;
  font-family: "Free Sans Bold", sans-serif;
  text-align: center;
  color: #8e0012;
  margin: 10px 0 !important;
}

h2.subtitle {
  font: bold italic 1.1em;
  font-family: "Free Sans Bold", sans-serif;
  text-align: center;
  color: #000;
  margin-top: 5px !important;
}

div.titlepage p.copyright { margin: 20px 0 !important; }

div.legalnotice {
  margin: 0 !important;
  font-size: 90%;
}

div.legalnotice p { margin: 5px 0 !important; }

div.titlepage hr {
  width: 50%;
}

div.editor h4 {
  color: #000;
  margin: 20px 0 0 0 !important;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
 }

div.editor h3 {
  margin: 0;
  font-family: serif;
  font-size: 1em;
  font-weight: normal
}

div.dedication p {
  text-align: center;
  font-style: italic;
  font-family: "Free Serif", serif;
}

div.dedication div.titlepage h1.title {
  text-transform: uppercase;
  font-size: 1em;
}

div.affiliation span.orgname, span.jobtitle {
  padding-left: 30px !important;
  font-size: smaller;
}

/* keep this body statement last */
body {
  font-family: "Free Serif", serif;
}
